/* Breakpoints */
$break-desktop: 768px;
$break-med-desktop: 1024px;
$break-max: 1200px;

/* Colors */
$secondary-nav-bg: #303031;
$accent: #e3a72c;
$dark-accent: #d19a2a;
$feature-bg: #5a5f69;
$social-bg: #ededed;
$social-button-bg: #4c4c4b;
$footer-bg: #414042;
$heading-copy: #544f4d;
$body-copy: #544f4d;
$product-tile-copy: #363636;
$swiper-button: #c7c6c5;
$navigation-item: #ccc;

/* Fonts */
$serif: Athelas, serif;
$sans-serif: "Proxima Nova", "Source Sans Pro", Arial, Helvetica, sans-serif;

/* Sizing */
$inner-max-width: 56.25em; /* 900px */
$desktop-section-gutter: 4em;
$mobile-section-gutter: 2em;